

/* App.css */

/* Estilos generales */
body {
  background-color: #c8d0d3;
  margin: 0;
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: #000000;
}

/* Estilos para los encabezados */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
  color: #2c2c2c;
  text-align: left;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
  color: #0000009d;
}

/* Estilos del encabezado */
.title {
  background-color: #8398a0;
  border: 1px solid #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  background-color: #8398a0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #707b80;
}

/* Estilos del contenedor de Hero */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px auto;
}

.flex-container img {
  margin-right: 20px;
}

.object-cover {
  object-fit: cover;
  border-radius: 50%;
}

/* Línea separadora */
.line-1 {
  height: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: #8398a0;
  margin-top: 46px;
  margin-bottom: 40px;
}

/* Estilos para la sección "Who am I?" y "My Skills" */
.flex-sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

/* Estilos para "Who am I?" */
.who-am-i {
  background-color: #8398a0;
  padding: 20px;
  border-radius: 10px;
  max-width: 45%;
}

.who-am-i h3 {
  font-size: 2rem;
  font-weight: bold;
}

.who-am-i h4 {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Estilos para "My Skills" */
.my-skills {
  padding: 20px;
  max-width: 45%;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #8398a0;
  padding: 20px;
  border-radius: 10px;
}

.technical-skills, .power-skills {
  margin: 0 20px;
}

.technical-skills img, .power-skills img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
}

/* Estilos para la sección de Contacto */
.contact-info {
  margin-top: 40px;
}

.email-container, .phone-container, .location-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info h6 {
  margin-left: 10px;
}

.contact-info img {
  width: 30px;
  height: 30px;
}

/* Asegura que los componentes se vean bien */
.App {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

